{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'learning_logs/css/bootstrap.css'%}" rel="stylesheet">
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Main Page</a></li>
    {% for el in menu %}
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
        <a href="{% url el.url_name %}">{{ el.title }}</a>
    </li>
    {% endfor %}
</ul>

{% block content%} {% endblock %}
</body>
</html>